@charset "UTF-08";


body{
    background-color: rgb(238, 216, 161);
    color: black;
    text-align: center;
}
.botao1{
    color: white;
}
.botao2{
    color: white;
}
.botao3{
    color: white;
}
.botao4{
    color: white;
}
#img1{
    height: 450px;
    width: 600px;
}
#img2{
    height: 450px;
    width: 600px;
}
#img3{
    height: 450px;
    width: 600px;
}
#img4{
    height: 450px;
    width: 600px;
}
.sol{
    background-color: aliceblue;
}